[core]
  editor = vim
  excludesfile = /home/patrick/.gitignore
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  aa = add --all
  dc = diff --cached
  di = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status -sb
  tg = !sh -c 'git tag -a -m $1 $1' -
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
  merge-branch  = !git checkout master && git merge @{-1} --ff-only
  rebase-origin = !git fetch origin && git rebase origin/master
[merge]
  ff = only
  tool = vimdiff
[push]
  default = tracking
[diff]
  mnemonicprefix = true

[url "git@github.com:pbrisbin/"]
  pushInsteadOf = "https://github.com/pbrisbin/"
