[submodule ".vim"]
	path = .vim
	url = git@github.com:pbrisbin/vim-config
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:pbrisbin/oh-my-zsh
[submodule ".screen"]
	path = .screen
	url = git@github.com:pbrisbin/screen-config
