[submodule ".vim"]
	path = .vim
	url = https://github.com/pbrisbin/vim-config
[submodule ".screen"]
	path = .screen
	url = https://github.com/pbrisbin/screen-config
[submodule ".irssi"]
	path = .irssi
	url = https://github.com/pbrisbin/irssi-config
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/pbrisbin/prezto
