[core]
  excludesfile = /home/patrick/.gitignore
  editor = vim
[merge]
  summary = true
  verbosity = 1
  tool = vimdiff
[color]
  ui = always
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = tracking
[branch]
  autosetupmerge = true
  autosetuprebase = always
[diff]
  mnemonicprefix = true

[url "git@github.com:pbrisbin/"]
  pushInsteadOf = "https://github.com/pbrisbin/"
