*$
*.a
*.aes
*.ap_
*.apk
*.bak
*.class
*.com
*.dex
*.diff
*.dll
*.egg-info/
*.exe
*.hi
*.iml
*.ipr
*.iws
*.log
*.o
*.org
*.pid
*.py[oc]
*.rej
*.so
*.sql
*.sqlite
*.tmp
*~
.#*
.*.sw[nop]
.DS_Store?
.classpath
.gdb_history
.ghci
.idea/
.project
.settings
.shelf
.sw[nop]
.vagrant
Icon?
MANIFEST
Thumbs.db
[#]*#
_build
bin/
build/
dist/
ehthumbs.db
gen/
local.properties
pkg
proguard-project.txt
proguard/
tags
vagrant
